@media only screen and (max-width: 600px) {
    .header{
        margin: 30px 20px;

        h1{
            font-size: 2.9em;
        }
    }


    .wrapper{
        flex-direction: column;
        margin-bottom: 100px;
        padding: 0 20px;
    
        .headerLogo{
            order: 2;
            width: 100%;
        }
        .subline{
            order: 1;
            margin-bottom: 30px;
            width: 100%;
        }

        h2 {
            font-size: 1.8em;
        }
    }

    #Footer .footer .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}